<div id="page-wrapper">
  <div id="page">
    <header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t}}">
      <div class="section layout-container clearfix">


        <header class="b-menu">
          <a class="logo" href="{{ path('<front>') }}" rel="home">
            <img src="/{{ directory }}/images/logo.png" alt="logo">
          </a>
          <div class="contain-navigation">
            <nav>
              <ul>
                <li class="map-option">
                  <a href="/map">Map</a>
                </li>
                <li class="explore-option">
                  <a href="/explore">Explore</a>
                </li>
                <li class="topics-option">
                  <a href="/topics">Topics</a>
                </li>
                <li class="news-option">
                  <a href="/news">News</a>
                </li>
                <li class="about-option">
                  <a href="/about">About</a>
                </li>
              </ul>
            </nav>
          </div>
        </header>



      </div>
    </header>
    <div id="main-wrapper" class="wrap">
      <div id="main" class="layout-main clearfix">
        <main id="content" class="column main-content" role="main">
          <section class="section wrap about-page">
            {{ page.content }}
          </section>
        </main>
      </div>
    </div>
    <footer class="site-footer">
      <div class="layout-container">
          <div class="site-footer__top clearfix">

            <footer class="b-footer">
              <div class="wrap">
                <a class="box-footer -global" href="/map">
                  See the<br>global picture
                </a>
                <a class="box-footer -explore" href="/explore">
                  Explore<br>the information
                </a>
                <a class="box-footer -topics" href="/topics">
                  Discover<br>topics
                </a>
                <a class="box-footer -subscribe" href="/about">
                  Keep<br>updated
                </a>
              </div>
              <div class="sub-footer">
                <img src="/{{ directory }}/images/footer/stanford-logo.png" alt="Stanford Law School">
              </div>
            </footer>


          </div>
      </div>
    </footer>
  </div>
</div>
