<!-- Add you custom twig html here -->
{% if news %}
<div class="digest-group">
    <h3 class="digest-header">{{ 'News'|t }}</h3>
    <div class="digest-body">
        {{ news }}
    </div>
</div>
{% endif %}

{% if entries %}
<div class="digest-group">
    <h3 class="digest-header">{{ 'Entries'|t }}</h3>
    <div class="digest-body">
        {{ entries }}
    </div>
</div>
{% endif %}

{% if topics %}
<div class="digest-group">
    <h3 class="digest-header">{{ 'Topics'|t }}</h3>
    <div class="digest-body">
        {{ topics }}
    </div>
</div>
{% endif %}
