<div class="contributor-image-holder">
  <div class="hover-text">Go to profile</div>
  <div class="contributions">Edits: <span class="value">{{ fields.contributions }}</span></div>
  <!--<div class="ranking"><span class="value">{{ fields.ranking }}</span></div>-->
  <div class="views-field views-field-user-picture" style="background-image:url('{{ fields.user_picture.content |striptags|trim }}')"></div>
</div>
<div class="contributor-info-holder">
  <div class="views-field views-field-name">{{ fields.name.content }}</div>
  <div class="views-field views-field-field-profile-title">{{ fields.field_profile_title.content }}</div>
</div>
